{% extends 'base.html' %} {% block body %}

<p>jdvnlvk</p>
<p>xjcvn</p>

<div class="container-fluid bg-dark text-light py-4 text-center" width="900px" height="600px">
    <p style="
      padding: 50px;
      font-size: 50px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    ">
        FAQs
    </p>
</div>

<div class="container m-auto mt-4 md-4 bg-body-tertiary" width="500px">
    <div class="decoration-none py-2" data-bs-toggle="collapse" href="#collapseExample" aria-expanded="false"
        aria-controls="collapseExample">
        <strong>Q: What are the financial benefits of solar energy?</strong>
    </div>

    <div class="collapse" id="collapseExample">
        A: When you install a solar energy system on your property, you save money
        on your electricity bills and protect yourself against rising electricity
        rates in the future. How much you can save depends on the utility rates and
        solar policies in your area, but going solar is a smart investment
        regardless of where you live.
    </div>
    <hr>
    <div class="py-2" data-bs-toggle="collapse" href="#collapseExample1" aria-expanded="false"
        aria-controls="collapseExample1">
        <strong>Q: What are the environmental benefits of solar energy?</strong>
    </div>

    <div class="collapse" id="collapseExample1">
        A: Solar power, like other renewable energy resources, has many environmental and health benefits. Going solar
        reduces greenhouse gas emissions, which contribute to climate change, and also results in fewer air pollutants
        like sulfur dioxide and particulate matter, which can cause health problems.
    </div>
    <hr>

    <div class="py-2" data-bs-toggle="collapse" href="#collapseExample2" aria-expanded="false"
        aria-controls="collapseExample2">
        <strong>Q: How do I find out how much I pay for electricity?</strong>
    </div>
    <div class="collapse" id="collapseExample2">
        A: The easiest way to find out how much you pay for electricity (and how much electricity you use per month) is
        to take a look at your utility electricity bill. Review EnergySage’s guide to reading your electricity bill to
        find out exactly what to look for.
    </div>
    <hr>

    <div class="py-2" data-bs-toggle="collapse" href="#collapseExample3" aria-expanded="false"
        aria-controls="collapseExample3">
        <strong>Q: What is net metering?</strong>
    </div>
    <div class="collapse" id="collapseExample3">
        A: Net metering is the system that utilities use to credit solar energy system owners for the electricity
        produced by their solar panels. With net metering, you only pay for the electricity that you use beyond what
        your solar panels can generate. Net metering policies differ from state to state – from Massachusetts to
        California – so make sure to do your homework ahead of time.
    </div>
    <hr>

    <div class="py-2" data-bs-toggle="collapse" href="#collapseExample4" aria-expanded="false"
        aria-controls="collapseExample4">
        <strong>Q: How does solar impact my property values?</strong>
    </div>
    <div class="collapse" id="collapseExample4">
        A: Studies have shown that homes with solar energy systems sell for more than homes without them. However, your
        property value will only increase if you own, rather than lease, your solar panel system. In most parts of the
        country, going solar will actually increase your property value more than a kitchen renovation.
    </div>
    <hr>

    <div class="py-2" data-bs-toggle="collapse" href="#collapseExample5" aria-expanded="false"
        aria-controls="collapseExample5">
        <strong>Q: How do solar photovoltaic (PV) panels work?</strong>
    </div>
    <div class="collapse" id="collapseExample5">
        A: Solar panels absorb the sun’s energy throughout the day and convert it into direct current (DC) electricity.
        Most homes and businesses run on alternating current (AC) electricity, so the DC electricity is then passed
        through an inverter to convert it to usable AC electricity. At that point, you either use the electricity in
        your house or send it back to the electric grid.
    </div>
    <hr>


</div>

{% endblock body %}