{% extends 'base.html' %}

{% block body %}

<p>fjwelsfk</p>
<p>fjwelsfk</p>

<div class="container-fluid bg-dark text-light py-4 text-center" width="900px" height="600px">
    <p style="padding: 50px; font-size: 50px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Products</p>
</div>

<div class="container m-auto mt-4 md-4 bg-body-tertiary" width="500px">
    <div class="text-center"><strong class="text-center" style="font-size: 36px;">Solar Products</strong></div><br>
    <div class="p-5">
        <strong>Solar panels:</strong>
        <p>These are the fundamental component of a solar system. We have monocrystalline and polycrystalline solar panels from top brands.</p>
        <strong>Solar Inverters:</strong>
        <p>Often termed as the brain of the solar panel system, we offer a broad range of efficient solar inverters that are available in many capacities and features.</p>
        <strong>Solar Batteries:</strong>
        <p>They store energy in a hybrid and off-grid system. We have batteries with longer life, so you don’t have to spend extra money on this expensive equipment.</p>
        <strong>Solar Tubewell:</strong>
        <p>Tube wells are the core of our agriculture system. We offer quality solar tube wells that will eradicate the load shedding problem in irrigation.</p>
        <strong>LED Products:</strong>
        <p>They include LED lights, Solar street Lamps, etc. We have a wide variety of reliable LED products that you can use with or without solar systems.</p>
    </div>

</div>

{% endblock body %}